// 左侧菜单栏部分

.el-submenu{
  .el-submenu__title{
    text-align: left;
    font-size: 16px;
    .icon{
      width: 1.2em;
      height: 1.2em;
      margin-right: 16px;
    }
  }
  .el-menu-item{
    min-width: 180px;
  }
}